name: test-testdata

on:
  push:
    branches:
      - main
    paths:
      - testdata/compatibility-kit/**
      - testdata/json-schema/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - testdata/compatibility-kit/**
      - testdata/json-schema/**
      - .github/**

jobs:
  test-testdata-compatibility-kit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'npm'
          cache-dependency-path: testdata/compatibility-kit/package-lock.json

      - run: npm ci
        working-directory: testdata/compatibility-kit/

      - name: check repository is not dirty
        run: "[[ -z $(git status --porcelain) ]]"

      - name: show diff
        if: ${{ failure() }}
        run: git status --porcelain
  
  test-testdata-json-schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'npm'
          cache-dependency-path: testdata/json-schema/package-lock.json

      - run: npm ci
        working-directory: testdata/json-schema/

      - name: check repository is not dirty
        run: "[[ -z $(git status --porcelain) ]]"

      - name: show diff
        if: ${{ failure() }}
        run: git status --porcelain

